<tr th:fragment="userParams(id, fullName, email, role)"  th:class="${role.name().equals('MODERATOR')} ? table-primary : ''">
  <th th:text="${id}" scope="row"></th>
  <td th:text="${fullName}"></td>
  <td th:text="${email}"></td>
  <td th:text="${role}"></td>
  <td>
    <a class="table-anchor-button dark-green-background" th:href="@{/admin/make/moderator/} + ${id}" th:if="${role.name().equals('STANDARD')}">Make Moderator</a>

    <a class="table-anchor-button dark-green-background" th:href="@{/admin/make/standard/} + ${id}" th:if="${role.name().equals('MODERATOR')}">Make Standard</a>
  </td>
</tr>