.carousel-inner {
    padding: 0 2rem;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1 !important;
  width: 5vh !important;
  height: 5vh;
  border-radius: 50%;
  top: 50% !important;
  transform: translateY(-50%);
}