.pointer {
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 5rem;
}

.anchor-reset {
    text-decoration: none;
}

.pink {
    color: #F2CEE6;
}

.dark-mint {
    color: #8EDCE6;
}

.anchor-button {
    margin-top: 2rem;
    box-sizing: border-box;
    font-size: 2.2rem;
    border: none;
    width: 35%;
    height: 5rem;
    font-weight: 700;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
}

.anchor-button:hover {
    color: #ffffff;
}

.pink-background {
    background-color: #F2CEE6;
}

.dark-mint-background {
    background-color: #8EDCE6;
}

.dark-green-background {
    background-color: #2E4C50;
}

.table-anchor-button {
    font-size: 1rem;
    border: none;
    font-weight: 700;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    padding: 0.2rem 0.6rem;
}

.table-anchor-button:hover {
    color: #ffffff;
    background-color: #8EDCE6;
}

.err-label {
    color: #fb294c;
    margin: 0;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success-label {
    color: #198754;
    margin: 0;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.social-anchor {
    color: #2E4C50;
    text-decoration: none;
}

.social-anchor:hover {
    color: #8EDCE6;
}