.parallax-container {
    height: 105vh;
    width: 100vw;
}

.parallax-container img {
    width: 100%;
    position: absolute;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
}

.parallax-container .front-img {
    z-index: -1;
}

.main-title {
    position: absolute;
    top: 25%;
    left: 25%;
    font-size: 6rem;
    transform: translate(-25%, -25%);
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}