<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <title>Find your holiday</title>
</head>
<body>

<section class="main">
    <div class="page-wrapper">
        <div th:replace="fragments/navigation"></div>

        <div class="content">

            <div class="search-wrapper">
                <h2 class="search-title dark-mint">Where are you headed?</h2>

                <form th:action="@{/}" class="search-form">
                    <div class="select">
                        <select name="country">
                            <th:block th:each="country: ${countries}">
                                <option th:selected="${searchResult == country.getName()}" th:value="${country.getName()}" th:text="${country.getName()}"></option>
                            </th:block>
                        </select>
                    </div>

                    <button class="search-btn">Search</button>
                </form>
            </div>

            <div class="holiday-type">
                <h2 class="type-header pink" th:text="'Results for ' + ${searchResult}"></h2>
                <h3 class="type-description">Choose the one that suits you best</h3>
                <div class="content-cards">
                    <th:block th:each="countryCard: ${results}">
                        <div th:replace="fragments/trip-card :: cardParams(${countryCard.getId()}, ${countryCard.getImg()}, ${countryCard.getDestination()}, ${countryCard.getHighlight()}, ${countryCard.getPrice()})"></div>
                    </th:block>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer"></div>
    </div>
</section>

<script
        src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"
        integrity="sha512-cdV6j5t5o24hkSciVrb8Ki6FveC2SgwGfLE31+ZQRHAeSRxYhAQskLkq3dLm8ZcWe1N3vBOEYmmbhzf7NTtFFQ=="
        crossorigin="anonymous"
></script>
</body>
</html>