<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css" />
        <link rel="shortcut icon" type="image/ico" href="../imgs/favicon.ico">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
        <title>Details</title>
    </head>

    <body>
      <div class="page-wrapper">
        <div th:replace="fragments/navigation"></div>
        <div class="content">
            <div class="details-page">
                <div class="detail-title-holder">
                    <h1 class="details-destination pink" th:text="${tripDetails.destination}" ></h1>
                    <h2 class="details-country dark-mint" th:text="${tripDetails.country.name}"></h2>
                </div>

                <div class="details-image-holder">
                    <img th:src="@{/images/} + ${tripDetails.img}" alt="Trip image" />
                </div>

                <div class="details-info">
                    <div class="highlight-wrapper">
                        <p th:text="'The highlight of this trip wil be ' + ${tripDetails.highlight}"></p>

                        <p th:text="${tripDetails.description}"></p>
                    </div>

                    <div class="booking-details">
                        <div class="payment-info">
                            <p th:text="'Days: ' + ${tripDetails.days}" ></p>
                            <p th:text="'Price: ' + ${tripDetails.price}"></p>
                        </div>

                        <div class="details-actions">
                            <a th:if="${!isAlreadyBooked}" th:href="@{/booking/trip/} + ${tripDetails.id}" class="anchor-button pink-background" type="book">Book</a>
                            <a sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')" th:href="@{/trip/edit/} + ${tripDetails.id}" class="anchor-button pink-background" type="book">Edit</a>
                            <a sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')" th:href="@{/trip/delete/} + ${tripDetails.id}" class="anchor-button dark-green-background" type="book">Delete</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
          <div th:replace="fragments/footer"></div>
      </div>
    </body>
</html>